<%layout("/layout/boilerplate")%>
<body>
    <h3>Listing Details</h3>
    <ul>
        <li><%= listings.title %></li>
        <li><%= listings.description %></li>
        <li>&#8377; <%= listings.price.toLocaleString("en-IN") %></li>
        <li><%= listings.location %></li>
        <li><%= listings.country %></li>
    </ul>

    <a href="/listings/<%=listings.id%>/edit">Edit This Listing</a>
    <br><br>
    <form action="/listings/<%=listings._id%>?_method=delete" method="post">
        <button>Delete this listing</button>
    </form>
</body>