<%layout("/layout/boilerplate")%>
<body>
    <br>
    <%if(success && success.length!=0){%>
      <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
        <%=success%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <br>
      </div>
    <%}%>
    <h1><i><b><%= listings.title %></b></i></h1>
    <div style="align-items: center;">
        <div class="cards">
            <img src="<%=listings.image.url%>" class="card-img-top" alt="listing_Img" style="height: 40rem; width: 10rem;">
        </div>
    </div>
    <p>&nbsp;&nbsp;<b>Owned By:</b> <u><b><%= listings.owner.username %></b></u></p><br>
    <ul>
        <li><%= listings.description %></li>
        <li>&#8377; <%= listings.price.toLocaleString("en-IN") %></li>
        <li><%= listings.location %></li>
        <li><%= listings.country %></li>
    </ul><br>
    <%if(user && listings.owner._id.toString() === user._id.toString()){%>
    <div class="btns">
      <a href="/listings/<%=listings.id%>/edit" style="text-decoration: none;" class="btn bcol"><b><i>Edit</i></b></a>&nbsp;&nbsp;
      <form action="/listings/<%=listings._id%>?_method=delete" method="post">
          <button class="btn bcol"><b><i>Delete</i></b></button>
      </form>
    </div>
    <%}%>
    <br><hr><br>

    <%if(user){%>
    <h4 style="text-align: center;"><i>Leave a Review</i></h4>
    <form action="http://localhost:8080/listings/<%=listings._id%>/reviews" class="form-control review needs-validation" method="post" novalidate> 
      <div><br>
        <label for="rating" class="form-label">Rating</label>
        <fieldset class="starability-slot">
          <legend class="visually-hidden">Star Rating</legend>
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div>
          <br>
          <label for="comment" class="form-label">Comments</label>
          <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
      </div>
      <div><br>
          <button class="btn btnforreview"><b><i>Submit</i></b></button>
      </div>
      <br>
    </form>
    <%}%>
    <%if(listings.reviews.length>0){%>
    <hr>
    <div>
      <h4>&nbsp;&nbsp;&nbsp;All Reviews</h4>
      <div class="rows col-5 mb-3 ms-3">
      <% for(review of listings.reviews){%>
        <div class="card card1">
          <div class="card-body" style="margin-left: 10px;">
            <p class="card-text"><%=review.comment%>&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p class="card-text starability-result" data-rating="<%=review.rating%>">
              Rated:  stars
            </p>
            <p class="card-text">- <b><%=review.username%></b></p>
            <% if (user && review.createdBy.toString() === user._id.toString()) { %>
            <form style="margin-bottom: 5px; margin-right: 5px;display: flex; justify-content: flex-end;" method="post" action="/listings/<%=listings._id%>/reviews/<%=review._id%>?_method=delete">
              <button class="btn bcol"><b><i>Delete</i></b></button>
            </form>
            <%}%>
          </div>
        </div>
      <%}%>
      </div>
    </div>
    <%}%>
    <h4 style="text-align:left;">Where You'll Be</h4>
<div id="map" style="height: 400px; width: 100%; margin: 1rem auto;"></div>
<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= googleMapsKey %>&callback=initMap"
  async
  defer>
</script>

  <script>
    function initMap() {
      const address = "<%= listings.location.replace(/\"/g,'\\\"') %>, <%= listings.country.replace(/\"/g,'\\\"') %>";
      const map = new google.maps.Map(
        document.getElementById("map"),
        {
          center: { lat: 0, lng: 0 },
          zoom: 8
        }
      );

      const geocoder = new google.maps.Geocoder();
      geocoder.geocode({ address: address }, function(results, status) {
        if (status === "OK" && results[0]) {
          const loc = results[0].geometry.location;

          map.setCenter(loc);
          map.setZoom(12);

          new google.maps.Marker({
            map: map,
            position: loc,
            title: "<%= listings.title.replace(/\"/g,'\\\"') %>"
          });
        } else {
          console.warn("Geocode was not successful for the following reason: " + status);
        }
      });
    }
  </script>
</body>